<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员系统首页</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div align="center" style="padding-top: 10%">
    <div>
        <a href="/admin/classes-manage" target="_blank">
            <input type="button" class="btn btn-success btn-lg" align="center" value="班级管理">
        </a>

    </div>
    <br>
    <div>
        <a href="/admin/classes-student-manage" target="_blank">
            <input type="button" class="btn btn-success btn-lg" align="center" value="公告管理">
        </a>
    </div>
    <br>
    <div>
        <input type="button" class="btn btn-success btn-lg" align="center" value="横幅管理">
    </div>
    <br>


</div>

</body>
</html>