<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

    <!--List<Classes> findAllClasses();-->

    <!--void addOneClasses(Classes classes);-->

    <!--void updateOneClasses(Classes classes);-->

    <!--void deleteOneClasses(String classesNum);-->

    <!--Classes getOneClasses(String classesNum);-->

<mapper namespace="com.ysk.addressbook.dao.ClassesDao">

    <sql id="Base_Column_List">
        classesId,
        classesNum,
        classesName,
        headerURI,
        monitorId
    </sql>
    <resultMap id="BaseResultMap" type="com.ysk.addressbook.entity.Classes">
        <result column="classesId" property="classesId"/>
        <result column="classesNum" property="classesNum"/>
        <result column="classesName" property="classesName"/>
        <result column="headerURI" property="headerURI"/>
        <result column="monitorId" property="monitorId"/>
    </resultMap>
    <select id="findAllClasses" resultType="com.ysk.addressbook.entity.Classes">
        SELECT * FROM classes
    </select>

    <select id="getOneClasses" resultType="com.ysk.addressbook.entity.Classes">
        SELECT * FROM classes where classes_num=#{classesNum}
    </select>

    <insert id="addOneClasses" parameterType="com.ysk.addressbook.entity.Classes">
        INSERT INTO classes (classes_id,classes_name,classes_num,monitor_id) VALUES(null,#{classesName},#{classesNum},#{monitorId})
    </insert>

    <update id="updateOneClasses" parameterType="com.ysk.addressbook.entity.Classes">
        UPDATE classes set classes_name=#{classesName},monitor_id=#{monitorId},header_URI=#{headerURI} where classes_num=#{classesNum}
    </update>

    <delete id="deleteOneClasses" >
        DELETE FROM classes where classes_num=#{classesNum}
    </delete>


    <select id="getClassesByClassesNum" resultType="com.ysk.addressbook.entity.Student">
        SELECT * FROM student where classes_num=#{classesNum} ORDER BY sid ASC
    </select>


</mapper>
