<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysk.addressbook.dao.UserDao">
    <!--<insert id="addSendRecord" parameterType="com.ysk.entity.SendRecord">-->
    <!--INSERT send_record (id,username,content,create_time)VALUES (null,#{userName},#{content},#{createTime})-->
    <!--</insert>-->

    <select id="getUserByUserName" resultType="com.ysk.addressbook.entity.User">
        SELECT * FROM user where username=#{username};
    </select>

    <delete id="deteleUserById">
        DELETE from user where userId=#{userId}
    </delete>

    <update id="updateUser" parameterType="com.ysk.addressbook.entity.User">
        UPDATE user set username=#{username},password=#{password},permission=#{permission},
        is_admin=#{isAdmin}
    </update>

    <insert id="addUser">
        INSERT user (username,password,phone,email) values(#{username},#{password},#{phone},#{email})
    </insert>

    <select id="findAllUser" resultType="com.ysk.addressbook.entity.User">
        SELECT * FROM user where username=#{username};
    </select>


</mapper>

